* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono", "Noto Color Emoji", monospace;
  font-size: 12pt;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(37, 35, 40, 0);
  color: #DC985F;
  border: none;
}

window#waybar > box {
  margin: 0;
  padding: 8px;
}

#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button {
  padding: 4px 8px;
  margin: 0 4px;
  border-radius: 10px;
  background-color: rgba(37, 35, 40, 0.5);
  color: #DC985F;
  font-weight: bold;
  font-size: 12pt;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background-color: rgba(37, 35, 40, 0.7);
  color: #DC985F;
}

#workspaces button.active {
  background-color: #A04E32;
  color: #19171C;
}

#clock {
  padding: 4px 8px;
  background-color: rgba(37, 35, 40, 0.5);
  border-radius: 10px;
  color: #DC985F;
  font-weight: bold;
  font-size: 12pt;
  min-width: 120px;
  transition: all 0.3s ease;
}


#language,
#cpu,
#memory,
#custom-network-speed,
#temperature,
#bluetooth,
#pulseaudio,
#backlight,
#network,
#battery {
  padding: 4px 8px;
  margin: 0 4px;
  background-color: rgba(37, 35, 40, 0.5);
  border-radius: 10px;
  color: #DC985F;
  min-width: 40px;
  font-size: 12pt;
  font-weight: bold;
  transition: all 0.3s ease;
}

#language {
  color: #DC985F;
  font-size: 12pt;
}

#cpu {
  color: #f9e2af;
}

#memory {
  color: #f9e2af;
}

#custom-network-speed {
  color: #DC985F;
}

#temperature {
  color: #f9e2af;
}

#temperature.critical {
  background-color: #f38ba8;
  color: #19171C;
}

#bluetooth {
  color: #DC985F;
}

#pulseaudio {
  color: #a6e3a1;
}

#backlight {
  color: #f9e2af;
}

#battery {
  color: #a6e3a1;
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #19171C;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  to {
    background-color: rgba(49, 50, 68, 0.6);
    color: #DC985F;
  }
}

#language:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#custom-network-speed:hover,
#temperature:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#battery:hover {
  background-color: rgba(37, 35, 40, 0.8);
}
