[Unit]
Description=1Password password manager daemon
Documentation=https://1password.com/
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/1password --silent
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
