[Unit]
Description=OpenRGB LED Controller Service (Headless)
After=graphical-session-started.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/openrgb --server --profile /home/sshuliak/.config/OpenRGB/msi.orp
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
